{
	"animations" : {
		"play" : "animation.keyframes"
	},
	"mode" : "playOnce",

	"animation" : {
		"animatedParts" : {
			"stateTypes" : {
				"h_1" : {
					"default" : "hidden",
					"states" : {
						"hidden" : {},
						"show" : {}
					}
				},
				"h_1_fullbright" : {
					"default" : "false",
					"states" : {
						"false" : {},
						"true" : {}
					}
				}
			},
			"parts" : {

				"h_1" : {
					"properties" : {
						"offset" : [-2.625,-2.75],
						"plat" : [[0,0], [0,0]],
						"seat" : [2.625,2.75],
						"transformationGroups" : ["h_1_scale","h_1","facing"]
					}
				},

				//body
				"h_1_Body_Position" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1", "transformationGroups" : ["h_1_Body"]},												"zLevel":170},
				"h_1_BackArmor" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_Body_Position", "image":"<h_1_BackArmor>",												"zLevel":100}},
				"h_1_Body" 					: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[0,1.5],"anchorPart":"h_1_Body_Position", "image":"<h_1_Body>?crop;0;12;43;43",					"zLevel":171}},
				"h_1_BodyArmor" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[0,1.5],"anchorPart":"h_1_Body_Position", "image":"<h_1_BodyArmor>?crop;0;12;43;43",				"zLevel":172}},
				"h_1_LegArmor" 				: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[0,1.5],"anchorPart":"h_1_Body_Position", "image":"<h_1_LegArmor>?crop;0;12;43;43",				"zLevel":173}},

				//Head
				"h_1_Head_Position" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":true,"anchorPart":"h_1_Body_Position", "transformationGroups" : ["h_1_Head"],									"zLevel":144}},
				"h_1_Head" 					: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":true,"anchorPart":"h_1_Head_Position", "image":"<h_1_Head>",													"zLevel":141}}, //5
				"h_1_Face" 					: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":true,"anchorPart":"h_1_Head_Position", "image":"<h_1_Face>:<h_1_Emote><h_1_FaceDirectives>",									"zLevel":142}}, //6
				"h_1_Hair" 					: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":true,"anchorPart":"h_1_Head_Position", "image":"<h_1_Hair>",													"zLevel":143}}, //7
				"h_1_FacialHair" 			: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":true,"anchorPart":"h_1_Head_Position", "image":"<h_1_FacialHair>",													"zLevel":144}}, //8
				"h_1_FacialMask" 			: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":true,"anchorPart":"h_1_Head_Position", "image":"<h_1_FacialMask>",													"zLevel":145}}, //9
				"h_1_HeadArmor" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":true,"anchorPart":"h_1_Head_Position", "image":"<h_1_HeadArmor>",												"zLevel":147}}, //11

				//pelvis
				"h_1_Pelvis_Position" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[0,1.25],"anchorPart":"h_1_Body_Position", "transformationGroups" : ["h_1_Pelvis"],				"zLevel":167}},
				"h_1_Pelvis_Body" 			: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_Pelvis_Position", "image":"<h_1_Body>?crop;0;10;43;13",									"zLevel":168}},
				"h_1_Pelvis_LegArmor" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_Pelvis_Position", "image":"<h_1_LegArmor>?crop;0;10;43;13",								"zLevel":169}},

				//left leg
				"h_1_ULL_Position" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[2.0,-0.5],"anchorPart":"h_1_Pelvis_Position", "transformationGroups" : ["h_1_LeftUpLeg"],		"zLevel":158}},
				"h_1_ULL_Body" 				: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_ULL_Position", "image":"<h_1_Body>?crop;16;5;22;10",									"zLevel":159}},
				"h_1_ULL_LegArmor" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_ULL_Position", "image":"<h_1_UpLegArmor>",								"zLevel":160}},
				"h_1_LLL_Position" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[0.0,-0.25],"anchorPart":"h_1_ULL_Position", "transformationGroups" : ["h_1_LeftLowLeg"],		"zLevel":161}},
				"h_1_LLL_Body" 				: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_LLL_Position", "image":"<h_1_Body>?crop;16;3;22;7",										"zLevel":162}},
				"h_1_LLL_LegArmor" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_LLL_Position", "image":"<h_1_LowerLegArmor>",									"zLevel":163}},
				"h_1_LFoot_Position" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[0.0,-0.25],"anchorPart":"h_1_LLL_Position", "transformationGroups" : ["h_1_LeftFoot"],			"zLevel":164}},
				"h_1_LFoot_Body" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_LFoot_Position", "image":"<h_1_Body>?crop;16;1;22;4",									"zLevel":165}},
				"h_1_LFoot_LegArmor" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_LFoot_Position", "image":"<h_1_FootArmor>",								"zLevel":166}},

				//right leg
				"h_1_URL_Position" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[2.625,-0.5],"anchorPart":"h_1_Pelvis_Position", "transformationGroups" : ["h_1_RightUpLeg"],	"zLevel":149}},
				"h_1_URL_Body" 				: {"partStates":{"h_1":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_URL_Position", "image":"<h_1_Body>?crop;16;5;22;10",									"zLevel":150}},
				"h_1_URL_LegArmor" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_URL_Position", "image":"<h_1_UpLegArmor>",								"zLevel":151}},
				"h_1_LRL_Position" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[0.0,-0.25],"anchorPart":"h_1_URL_Position", "transformationGroups" : ["h_1_RightLowLeg"],		"zLevel":155}},
				"h_1_LRL_Body" 				: {"partStates":{"h_1":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_LRL_Position", "image":"<h_1_Body>?crop;16;3;22;7",										"zLevel":156}},
				"h_1_LRL_LegArmor" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_LRL_Position", "image":"<h_1_LowerLegArmor>",									"zLevel":157}},
				"h_1_RFoot_Position" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[0.0,-0.25],"anchorPart":"h_1_LRL_Position", "transformationGroups" : ["h_1_RightFoot"],			"zLevel":152}},
				"h_1_RFoot_Body" 			: {"partStates":{"h_1":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_RFoot_Position", "image":"<h_1_Body>?crop;16;1;22;4",									"zLevel":153}},
				"h_1_RFoot_LegArmor" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_RFoot_Position", "image":"<h_1_FootArmor>",								"zLevel":154}},

				//backArm
				"h_1_BackArm_Position" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_Body_Position", "transformationGroups" : ["h_1_BackArm"],								"zLevel":110}},
				"h_1_BackArm" 				: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_BackArm_Position","image":"<h_1_BackArm>?crop=0;0;27;43",								"zLevel":111}},
				"h_1_BackArmArmor" 			: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_BackArm_Position","image":"<h_1_BackArmArmor>?crop=0;0;27;43",							"zLevel":112}},
				"h_1_BackForeArm_Position" 	: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[3.25,0.0],"anchorPart":"h_1_BackArm_Position", "transformationGroups" : ["h_1_BackForeArm"],	"zLevel":107}},
				"h_1_BackForeArm" 			: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_BackForeArm_Position","image":"<h_1_BackArm>?crop=26;0;31;43",							"zLevel":108}},
				"h_1_BackForeArmArmor" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_BackForeArm_Position","image":"<h_1_BackArmArmor>?crop=26;0;31;43",						"zLevel":109}},
				"h_1_BackHand_Position" 	: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[0.5,0.0],"anchorPart":"h_1_BackForeArm_Position", "transformationGroups" : ["h_1_BackHand"],	"zLevel":104}},
				"h_1_BackHand" 				: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_BackHand_Position","image":"<h_1_BackArm>?crop=30;0;43;43",								"zLevel":105}},
				"h_1_BackHandArmor" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_BackHand_Position","image":"<h_1_BackArmArmor>?crop=30;0;43;43",						"zLevel":106}},

				//front arm
				"h_1_FrontArm_Position" 	: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_Body_Position", "transformationGroups" : ["h_1_FrontArm"],								"zLevel":190}},
				"h_1_FrontArm" 				: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_FrontArm_Position","image":"<h_1_FrontArm>?crop=0;0;24;43",								"zLevel":191}},
				"h_1_FrontArmArmor" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_FrontArm_Position","image":"<h_1_FrontArmArmor>?crop=0;0;24;43",						"zLevel":192}},
				"h_1_FrontForeArm_Position" : {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[2.875,0.0],"anchorPart":"h_1_FrontArm_Position", "transformationGroups" : ["h_1_FrontForeArm"], "zLevel":187}},
				"h_1_FrontForeArm" 			: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_FrontForeArm_Position","image":"<h_1_FrontArm>?crop=23;0;27;43",						"zLevel":188}},
				"h_1_FrontForeArmArmor" 	: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_FrontForeArm_Position","image":"<h_1_FrontArmArmor>?crop=23;0;27;43",					"zLevel":189}},
				"h_1_FrontHand_Position" 	: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"offset":[0.375,0.0],"anchorPart":"h_1_FrontForeArm_Position", "transformationGroups" : ["h_1_FrontHand"],"zLevel":184}},
				"h_1_FrontHand" 			: {"partStates":{"h_1_fullbright":{"true":{"properties":{"fullbright":true}}},"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_FrontHand_Position","image":"<h_1_FrontArm>?crop=26;0;43;43",							"zLevel":185}},
				"h_1_FrontHandArmor" 		: {"partStates":{"h_1":{"hidden":{"properties":{"image":""}}}},"properties":{"centered":false,"anchorPart":"h_1_FrontHand_Position","image":"<h_1_FrontArmArmor>?crop=26;0;43;43",						"zLevel":186}}

			}
		},
		"transformationGroups" : {
			"facing":{"ignore":true},
			
			"h_1_scale":{},
			"h_1_FrontArm":{"transform":{"scalePoint":[2.5,2.5],"rotationPoint":[2.5,2.5],"scale":[1,1],"rotation":-105,"curve":1,"position":[0,0]}},
			"h_1_BackArm":{"transform":{"scalePoint":[3,2.5],"rotationPoint":[3,2.5],"scale":[1,1],"rotation":-45,"curve":1,"position":[0,0]}},
			"h_1_Head":{"transform":{"scalePoint":[2.6875,2.75],"rotationPoint":[0,0],"scale":[1,1],"rotation":0,"curve":1,"position":[2.6875,2.6875]}},
			"h_1_LeftFoot":{"transform":{"scalePoint":[0.25,0.0625],"rotationPoint":[0.25,0.0625],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}},
			"h_1_Pelvis":{"transform":{"scalePoint":[2.625,1.5625],"rotationPoint":[2.625,1.5625],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}},
			"h_1_RightUpLeg":{"transform":{"scalePoint":[3,0.0625],"rotationPoint":[3,0.0625],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}},
			"h_1_RightLowLeg":{"transform":{"scalePoint":[0.3125,0.125],"rotationPoint":[0.3125,0.125],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}},
			"h_1_BackHand":{"transform":{"scalePoint":[0.5,2.25],"rotationPoint":[0.5,2.25],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}},
			"h_1_FrontHand":{"transform":{"scalePoint":[0,0],"rotationPoint":[0.5,2.25],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}},
			"h_1_LeftLowLeg":{"transform":{"scalePoint":[0.3125,0.125],"rotationPoint":[0.3125,0.125],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}},
			"h_1_Body":{"transform":{"scalePoint":[2.6875,2.125],"rotationPoint":[2.6875,2.125],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}},
			"h_1_BackForeArm":{"transform":{"scalePoint":[3.3125,2.3125],"rotationPoint":[3.3125,2.3125],"scale":[1,1],"rotation":-30,"curve":1,"position":[0,0]}},
			"h_1":{"transform":{"scalePoint":[0,0],"rotationPoint":[0,0],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}},
			"h_1_FrontForeArm":{"transform":{"scalePoint":[2.9375,2.25],"rotationPoint":[2.9375,2.25],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}},
			"h_1_RightFoot":{"transform":{"scalePoint":[0.25,0.0625],"rotationPoint":[0.25,0.0625],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}},
			"h_1_LeftUpLeg":{"transform":{"scalePoint":[2.375,0.0625],"rotationPoint":[2.375,0.0625],"scale":[1,1],"rotation":0,"curve":1,"position":[0,0]}}
		}
	},

	"loungePositions" : {
		"h_1" : {
			"enabled" : false,
			"part" : "h_1",
			"partAnchor" : "seat",
			"orientation" : "stand",
			"directives" : "?scalenearest=0",
			"cameraFocus" : false
		}
	}
}
	